.product-text{
    color: yellow;
    margin: 25vh 0 10vh;
}

.volume-group{
    flex: 1;
    margin: 0 2rem; 
    /* background: red; */
}

.fa-volume-down{
    font-size: 4rem;
}
.fa-volume-up{
    font-size: 4rem;
}

.fa-volume-up , .fa-volume-down:hover{
    cursor: pointer;
}

.volume-container{
    display:flex;
    align-items: center;
    /* background: blue; */
}

.form-container{
    background: #a4bfd9;
}
    
