    .navbar {
    /* 90 degrees it starts gradient from the middle, darker black from the left fading start from 0% going to
    lighter black at the end 100%*/
    background: linear-gradient(90deg, rgb(28, 27, 27) 0%, rgb(27, 23, 23) 100%);
    height: 80px;
    display: flex;
    /* should do this in the container? */
    justify-content: right;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999; /*making sure this is top level */
  }
  
  /* everything in the middle */
  .navbar-container {
    /* flexbox */
    display: flex;
    /* gruping is center*/
    justify-content: flex-start;
    /* position is at center */
    align-items: center;
    height: 80px;
    max-width: 1500px;
  }
  
  .navbar-logo {
    color: #fff;
    /*justify itself and put it on very start=left*/
    justify-self: start;
    /* make some space from left */
    margin-left: 20px;
    /* hovering over icon */
    /* no line on text/else */
    text-decoration: none;
    font-size: 2rem;
    display: flex;
    align-items: center;
  }
  
  .fa-gamepad {
    /* some spacing for making it align */
    margin-top: 0.2rem;
    margin-left: 0.4rem;
    /* size of icon */
    font-size: 2rem;
  }


  /* be default  */
  .nav-menu {
    display: grid;
    /* place the content in column starting from grid 4 position to end auto*/
    grid-template-columns: repeat(4, auto); 
    /* spacing between each element based on grid */
    grid-gap: 10px;
    /* no bullet points*/
    list-style: none;
    /* text in middle */
    text-align: center;
    /* width of the nav menu container--> will push other stuff towards left*/
    width: 60vw;
    /* bring it to the end of navbar */
    justify-content: end; 
    /* move it from right a little so going left basically*/
    margin-right: 2rem;   
  } 
  
  .nav-item {
    height: 80px;
  }
  
  .nav-links {
    color: #fff;
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 0.5rem 1rem;
    height: 100%;
  } 

  
  .nav-links:hover {
    /* when you hover it underlines the border bottom and pushes the text slightly up */
    border-bottom: 4px solid #fff;
    transition: all 0.2s ease-out;
  }
  
  .fa-bars {
    color: #fff;
  }
  
  /* hide */
  .nav-links-mobile {
    display: none;
  }
  
  .menu-icon {
    display: none;
  }
  
  /* these are only active when the width is wider than 960 */
  @media screen and (max-width: 960px) {
     .NavbarItems {
      position: relative;
    }
  
    /* right now if you fold menu less than 960 it starts folding */
    /* shifting it out from viewer port basically hiding it */
    .nav-menu {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 90vh;
      position: absolute; 
      top: 80px; 
      left: -100%;
      opacity: 1;
      transition: all 0.5s ease;
    }
    
    /* when its clicked */
    .nav-menu.active {
      background: #242222;
      left: 0;
      opacity: 1;
      transition: all 0.5s ease;
      z-index: 1;
    }
  
    .nav-links {
      text-align: center;
      padding: 2rem;
      width: 100%;
      display: table;
    }
  
    .nav-links:hover {
      background-color: #fff;
      color: #242424;
      border-radius: 0;
    }
  
    .navbar-logo {
      /* display: flex;
      justify-content: start;
   */
      /* align-items: center; */
      position: absolute;
      /* top: 0;
      left: 0;
      transform: translate(25%, 50%); */
    }
  
    /* this is your answer to how minimize works */
    /* you can set styling as hidden and then get them back using media screen(kind of like if statement) */
    .menu-icon {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      transform: translate(-100%, 60%);
      font-size: 1.8rem;
      cursor: pointer;
    }
  
    .fa-times {
      color: #fff;
      font-size: 2rem;
    }
  
    .nav-links-mobile {
      display: block;
      text-align: center;
      margin: 2rem auto;
      border-radius: 4px;
      width: 80%;
      text-decoration: none;
      font-size: 1.5rem;
      background-color: transparent;
      color: #fff;
      padding: 14px 20px;
      border: 1px solid #fff;
      transition: all 0.3s ease-out;
    }
  
    /* .nav-links-mobile:hover {
      background: #fff;
      color: #242424;
      transition: 250ms;
    } 
    */
  }