  .navbar {
  /* 90 degrees it starts gradient from the middle, darker black from the left fading start from 0% going to
  lighter black at the end 100%*/
  background: linear-gradient(90deg, rgb(28, 27, 27) 0%, rgb(27, 23, 23) 100%);
  height: 80px;
  /* should do this in the container? */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  z-index: 999;
}

.navbar-container{
  height: 80px;
  display:flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.navbar-logo{
  color: #fff;
  display:flex;
  justify-self: flex-start;
  text-decoration: none;
  font-size: 2rem;
}

.fa-gamepad{
  margin-top: 0.6rem;
  margin-left: 0.2rem;
}

.nav-menu{
  display: flex;
  gap: 10px;
  justify-content: end;
  flex-direction: row;
  list-style: none;
  text-align: center;
  width: 60vw;
  margin-right: 10px;
  margin-left: 10vw;
}

.nav-item{
  height: 80px;
}